{% extends 'base.html' %}

{% block content %}
{% load static %}

   <!-- breadcrumb start-->
   <section class="breadcrumb breadcrumb_bg">
      <div class="container">
         <div class="row">
            <div class="col-lg-12">
               <div class="breadcrumb_iner text-center">
                  <div class="breadcrumb_iner_item">
                     <h2>About Us</h2>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </section>
   <!-- breadcrumb start-->

   <!--================Blog Area =================-->
   <section class="blog_area single-post-area section_padding">
      <div class="blog_details" style="margin-left: 10px;">
      <h6>About us</h6>
      <p class="excert" >We are an experienced group of gamers . We launched this site on aug 27,2020 and wish to develop a massive game community of passionate players. This website will provide a platform to those individuals who wants to make a career in gaming industry. You can even read reviews on latest games.</p>
      <p>The games that will be provided can also be easily downloadable.  We would appreciate your full participation in keeping this gaming community alive. You can contact us and share your thoughts. We'll post reviews , game updates and many more.</p>
      </div>
   </section>



   <!--================Blog Area end =================-->
{% endblock %}
