{% extends 'base.html' %}

{% block content %}

{% load static %}
    <!-- breadcrumb start-->
    <section class="breadcrumb breadcrumb_bg">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb_iner text-center">
                        <div class="breadcrumb_iner_item">
                            <h2>Anroid Games </h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- breadcrumb start-->

    <!--================Blog Area =================-->
    <section class="blog_area section_padding">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 mb-5 mb-lg-0">
                    <div class="blog_left_sidebar">
                        <article class="blog_item">
                            <div class="blog_item_img">
                                <img class="card-img rounded-0" src="{% static "img/blog/infinity_ops.png"%}" alt="">
                                <a href="https://play.google.com/store/apps/details?id=com.gamedevltd.destinywarfare" class="blog_item_date">
                                    <h3>Download</h3>
                                </a>
                            </div>

                            <div class="blog_details">
                                <a class="d-inline-block" href="single-blog.html">
                                    <h2>Infinity ops</h2>
                                </a>
                                <h6>About this game:</h6>
                                <p>Infinity Ops
                                    A multiplayer FPS in a sci-fi setting!
                                    The event of the game take place in the distant future, when humanity has surpassed the limits of technological development and the world has descended into the chaos of interplanetary warfare!
                                    Player will face team PvP combat as classes like Recruit, Saboteur, Tank, and Assault! Each of the classes has its own features and abilities.</p>
                                    <h6>Features:</h6>
                                    <p>❖ Clans
                                        Create your own clan and invite other users or friends and spend time in the game together!</p>
                                        <p>❖ Armament
A wide variety of weapons are available in-game, from assault and plasma rifles to laser machineguns and grenade launchers! Each weapon has its own unique properties and features.</p>
                                        <p>❖ Material interaction
Low gravity frees players to jump far and high, while universal gravity can affect running speed!</p>
                                        <p>❖ Jetpacks
Use a personal flight device to more quickly and effectively conduct combat operations.</p>
                                        <p>❖ Fantastic 3D graphics
Excellent, detailed 3D character and map modelling.</p>
                                        <p>❖ Optimization for weak devices
The game is optimized for devices with low technical characteristics. Choice of graphics for different phones!</p>
                                        <p>❖ Easy controls
Intuitive control and easy interface won’t leave you struggling to master the learning curve!</p>
                                        <p>Game modes</p>
<p>≛ Team Deathmatch
Two teams battle for domination. The team with the highest score at the end of the round wins;</p>
                                        <p>≛ Deathmatch
Free mode. You fight for yourself. The player with the highest score at the end of the round wins;</p>
                                        <p>≛ HARDCORE
A more realistic combat experience with doubled damage; For true pro players!</p>
                                        <p>≛ Custom game
Create a game with your own rules. Invite your friends to your custom game lobby and battle together!</p>
                                        <p>More features</p>
<p>☢☢☢ MAGNIFICENT GRAPHICS AND OPTIMIZATION FOR WEAK DEVICES! ☢☢☢</p>
<p>Immerse yourself in the experience of online battles in the future with stunning graphics and perfect controls. Take to the frontline of each battle.</p>
                                        <p>
☢☢☢ IMPROVE ARMOR AND ARMS! ☢☢☢</p>
<p>Improve your character, upgrade weapons, reload time, armor and movement. Each character has its own traits. Buy additional gadgets, such as: mines, grenades, medkits, and shock-blades.</p>
                                        <p>☢☢☢ A DAILY REWARD! ☢☢☢<p>
<p>Enter the game daily to receive free presents, quests, and tons of free stuff!
Do your daily quests and improve your equipment!</p>
                                        <p>Dear users, the game is still in the post-development phase. Please share any bugs and errors you experience, as well as any requests and ideas you have through the support team.</p>
                                        <p>Size of this game is:</p>
<p>473 mb</p>
                                <ul class="blog-info-link">
                                    <li><a href="#"><i class="far fa-star"></i> Playstore,4.5</a></li>
                                    <li><a href="#"><i class="far fa-comments"></i> 03 Comments</a></li>
                                </ul>
                            </div>
                        </article>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="blog_right_sidebar">
                        <aside class="single_sidebar_widget search_widget">
                            <form action="#">
                                <div class="form-group">
                                    <div class="input-group mb-3">
                                        <input type="text" class="form-control" placeholder='Search Keyword'
                                            onfocus="this.placeholder = ''"
                                            onblur="this.placeholder = 'Search Keyword'">
                                        <div class="input-group-append">
                                            <button class="btn" type="button"><i class="ti-search"></i></button>
                                        </div>
                                    </div>
                                </div>
                                <button class="button rounded-0 primary-bg text-white w-100 btn_1"
                                    type="submit">Search</button>
                            </form>
                        </aside>

                        <aside class="single_sidebar_widget post_category_widget">
                            <h4 class="widget_title">Category</h4>
                            <ul class="list cat-list">
                                <li>
                                    <a href="#" class="d-flex">
                                        <p>All</p>
                                        <p>(08)</p>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="d-flex">
                                        <p>Action</p>
                                        <p>(01)</p>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="d-flex">
                                        <p>Adventure</p>
                                        <p>(01)</p>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="d-flex">
                                        <p>Arcade</p>
                                        <p>(01)</p>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="d-flex">
                                        <p>RPG</p>
                                        <p>(01)</p>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="d-flex">
                                        <p>Board</p>
                                        <p>01</p>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="d-flex">
                                        <p>Racing</p>
                                        <p>(01)</p>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="d-flex">
                                        <p>Puzzle</p>
                                        <p>(01)</p>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="d-flex">
                                        <p>Educational</p>
                                        <p>(01)</p>
                                    </a>
                                </li>
                            </ul>
                        </aside>

                        <aside class="single_sidebar_widget popular_post_widget">
                            <h3 class="widget_title">Recent Post</h3>
                            <div class="media post_item">
                                <img src="img/post/post_1.png" alt="post">
                                <div class="media-body">
                                    <a href="single-blog.html">
                                        <h3>From life was you fish...</h3>
                                    </a>
                                    <p>January 12, 2019</p>
                                </div>
                            </div>
                            <div class="media post_item">
                                <img src="img/post/post_2.png" alt="post">
                                <div class="media-body">
                                    <a href="single-blog.html">
                                        <h3>The Amazing Hubble</h3>
                                    </a>
                                    <p>02 Hours ago</p>
                                </div>
                            </div>
                            <div class="media post_item">
                                <img src="img/post/post_3.png" alt="post">
                                <div class="media-body">
                                    <a href="single-blog.html">
                                        <h3>Astronomy Or Astrology</h3>
                                    </a>
                                    <p>03 Hours ago</p>
                                </div>
                            </div>
                            <div class="media post_item">
                                <img src="img/post/post_4.png" alt="post">
                                <div class="media-body">
                                    <a href="single-blog.html">
                                        <h3>Asteroids telescope</h3>
                                    </a>
                                    <p>01 Hours ago</p>
                                </div>
                            </div>
                        </aside>
                        <aside class="single_sidebar_widget tag_cloud_widget">
                            <h4 class="widget_title">Tags</h4>
                            <ul class="list">
                                <li>
                                    <a href="#">Home</a>
                                </li>
                                <li>
                                    <a href="#">How To</a>
                                </li>
                                <li>
                                    <a href="#">Download</a>
                                </li>
                                <li>
                                    <a href="#">News</a>
                                </li>
                                <li>
                                    <a href="#">Contact</a>
                                </li>
                                <li>
                                    <a href="#">About Us</a>
                                </li>
                                <li>
                                    <a href="#">Join Now</a>
                                </li>
                            </ul>
                        </aside>


                        <aside class="single_sidebar_widget instagram_feeds">
                            <h4 class="widget_title">Instagram Feeds</h4>
                            <ul class="instagram_row flex-wrap">
                                <li>
                                    <a href="#">
                                        <img class="img-fluid" src="img/post/post_5.png" alt="">
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <img class="img-fluid" src="img/post/post_6.png" alt="">
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <img class="img-fluid" src="img/post/post_7.png" alt="">
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <img class="img-fluid" src="img/post/post_8.png" alt="">
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <img class="img-fluid" src="img/post/post_9.png" alt="">
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <img class="img-fluid" src="img/post/post_10.png" alt="">
                                    </a>
                                </li>
                            </ul>
                        </aside>


                        <aside class="single_sidebar_widget newsletter_widget">
                            <h4 class="widget_title">Newsletter</h4>

                            <form action="#">
                                <div class="form-group">
                                    <input type="email" class="form-control" onfocus="this.placeholder = ''"
                                        onblur="this.placeholder = 'Enter email'" placeholder='Enter email' required>
                                </div>
                                <button class="button rounded-0 primary-bg text-white w-100 btn_1"
                                    type="submit">Subscribe</button>
                            </form>
                        </aside>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--================Blog Area =================-->


{% endblock %}sss
