{% extends 'base.html' %}

{% block content %}
{% load static %}
<!doctype html>


    <!-- breadcrumb start-->
    <section class="breadcrumb breadcrumb_bg">
        <!--<div class="bgopk">-->
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="breadcrumb_iner text-center">
                            <div class="breadcrumb_iner_item">
                                <h2>PC Games </h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </section>
    <!-- breadcrumb start-->

    <!--================Blog Area =================-->
    <section class="blog_area section_padding">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 mb-5 mb-lg-0">
                    <div class="blog_left_sidebar">
                        <article class="blog_item">
                            <div class="blog_item_img">
                                <img class="card-img rounded-0" src="{% static "img/blog/pc/Assassin_creed_odeysey_1.jpg"%}" alt="">
                                <a href="https://play.google.com/store/apps/details?id=com.gamedevltd.destinywarfare" class="blog_item_date">
                                    <h3>Download</h3>
                                </a>
                            </div>

                            <div class="blog_details">
                                <a class="d-inline-block" href="single-blog.html">
                                    <h2>Assassins Creed Odyssey Gold Edition MULTi15-ElAmigos</h2>
                                </a>
                                <h6><span style="color: red;font-weight: bold;">Title:</span>Assassins Creed Odyssey Gold Edition MULTi15-ElAmigos</h6>
                                <h6><span style="color: red;font-weight: bold;">Genre:</span> Action, Adventure, RPG</h6>
                                <h6><span style="color: red;font-weight: bold;">Developer:</span>Ubisoft Montreal</h6>
                                <h6><span style="color: red;font-weight: bold;">Publisher:</span>Ubisoft</h6>
                                <h6><span style="color: red;font-weight: bold;">Release Date:</span>6 Oct, 2018</h6>
                                <h6><span style="color: red;font-weight: bold;">Languages: </span>English, French, Italian, German, Spanish, Etc …</h6>
                                <h6><span style="color: red;font-weight: bold;">File Size:</span>55.37 GB / Split 12 parts 4.95 GB Compressed</h6>
                                <h6><span style="color: red;font-weight: bold;">Mirrors:</span>Mega.nz, Racaty, Google Drive, Uptobox, Uploaded.net</h6>
                                <p>Free Download Assassin’s Creed Odyssey Gold Edition PC Game – Write your own epic odyssey and become a legendary Spartan hero. Forge your destiny in a world on the brink of tearing itself apart. Influence how history unfolds in an ever-changing world shaped by your choices. Assassin’s Creed® Odyssey brings player choice to the forefront …</p>
                                    <div class="button-group-area mt-10">

                                      <a href="#disc" class="genric-btn primary-border circle">Discription</a>
                                      <a href="#scr" class="genric-btn success-border circle">Screenshot</a>
                                      <a href="#" class="genric-btn success-border circle">Gameplay</a>
                                      <a href="#sys" class="genric-btn info-border circle">System Requirements</a>
                                      <a href="#ins" class="genric-btn warning-border circle">How to Install</a>
                                      <a href="fix.html" class="genric-btn danger-border circle">How to Fix</a>
                                      <a href="#lnk" class="genric-btn link-border circle">Link</a>

                </div><br>
                <h6 id="disc">Discription</h6>
                <p>Write your own epic odyssey and become a legendary Spartan hero. Forge your destiny in a world on the brink of tearing itself apart. Influence how history unfolds in an ever-changing world shaped by your choices.
Assassin’s Creed® Odyssey brings player choice to the forefront through never-before-seen innovations as you choose the hero you want to become and change the world around you.

Take control of your destiny with every decision you make and each relationship you build. Customize your equipment and master new special abilities, tailoring your hero’s skillset to your playstyle. Fight across the country of Greece, engaging in visceral battles on both land and sea and becoming a true hero of legend.

Placing choice at the center of the gameplay experience, Assassin’s Creed Odyssey empowers you to author your own legendary odyssey.</p>
<div class="section-top-border">
                    <h3 id="scr">Screenshots</h3>
                    <div class="row gallery-item">
                        <div class="col-md-4">
                            <a href="{% static "img/elements/Assassin_creed_odey/A_C_O_1.jpg"%}" class="img-pop-up img-gal">
                                <div class="single-gallery-image" style="background: url('{% static "img/elements/Assassin_creed_odey/A_C_O_1.jpg"%}');"></div>
                            </a>
                        </div>
                        <div class="col-md-4">
                            <a href="{% static "img/elements/Assassin_creed_odey/A_C_O_2.jpg"%}" class="img-pop-up img-gal">
                                <div class="single-gallery-image" style="background: url('{% static "img/elements/Assassin_creed_odey/A_C_O_2.jpg"%}');"></div>
                            </a>
                        </div>
                        <div class="col-md-4">
                            <a href="{% static "img/elements/Assassin_creed_odey/A_C_O_3.jpg"%}" class="img-pop-up img-gal">
                                <div class="single-gallery-image" style="background: url('{% static "img/elements/Assassin_creed_odey/A_C_O_3.jpg"%}');"></div>
                            </a>
                        </div>
                        <div class="col-md-6">
                            <a href="{% static "img/elements/Assassin_creed_odey/A_C_O_4.jpg"%}" class="img-pop-up img-gal">
                                <div class="single-gallery-image" style="background: url('{% static "img/elements/Assassin_creed_odey/A_C_O_4.jpg"%}');"></div>
                            </a>
                        </div>
                        <div class="col-md-6">
                            <a href="{% static "img/elements/Assassin_creed_odey/A_C_O_5.jpg"%}" class="img-pop-up img-gal">
                                <div class="single-gallery-image" style="background: url('{% static "img/elements/Assassin_creed_odey/A_C_O_5.jpg"%}');"></div>
                            </a>
                        </div>
                        <div class="col-md-4">
                            <a href="{% static "img/elements/Assassin_creed_odey/A_C_O_6.jpg"%}" class="img-pop-up img-gal">
                                <div class="single-gallery-image" style="background: url('{% static "img/elements/Assassin_creed_odey/A_C_O_6.jpg"%}');"></div>
                            </a>
                        </div>
                        <div class="col-md-4">
                            <a href="{% static "img/elements/Assassin_creed_odey/A_C_O_7.jpg"%}" class="img-pop-up img-gal">
                            <div class=" single-gallery-image" style="background: url('{% static "img/elements/Assassin_creed_odey/A_C_O_7.jpg"%}');"></div>
                        </a>
                    </div>
                    <div class="col-md-4">
                        <a href="{% static "img/elements/Assassin_creed_odey/A_C_O_8.jpg"%}" class="img-pop-up img-gal">
                            <div class="single-gallery-image" style="background: url('{% static "img/elements/Assassin_creed_odey/A_C_O_8.jpg"%}');"></div>
                        </a>
                    </div>
                </div>
            </div>
            <h6 id="sys">System Requirements</h6>
            <h6>Minimum:</h6>
            <p>• OS: Windows 7 SP1, Windows 8.1, Windows 10 (64bit versions only)</p>
            <p>• Processor: AMD FX 6300 @ 3.8 GHz, Ryzen 3 – 1200, Intel Core i5 2400 @ 3.1 GHz (MORE DETAILS HERE)</p>
            <p>• Memory: 8 GB RAM</p>
            <p>• Graphics: AMD Radeon R9 285, NVIDIA GeForce GTX 660 (2GB VRAM with Shader Model 5.0) (MORE DETAILS HERE)</p>
            <p>• DirectX: Version 11</p>
            <p>• Storage: 46+ GB available space</p>
            <br>
            <h6>Recommended:</h6>
            <p>• OS: Windows 7 SP1, Windows 8.1, Windows 10 (64bit versions only)</p>
            <p>• Processor: AMD FX-8350 @ 4.0 GHz, Ryzen 5 – 1400, Intel Core i7-3770 @ 3.5 GHz or better (MORE DETAILS HERE)</p>
            <p>• Memory: 8 GB RAM</p>
            <p>• Graphics: AMD Radeon R9 290, NVIDIA GeForce GTX 970 (4GB VRAM with Shader Model 5.0) or better (MORE DETAILS HERE)</p>
            <p>• DirectX: Version 11</p>
            <p>• Storage: 46+ GB available space</p>
            <h6 id="lnk">Links</h6>
            <h6>Google Drive</h6>

            <a href="">Assassins Creed Odyssey Gold Edition MULTi15-ElAmigos</a>
            <br><br>
            <h6>Mega</h6>

            <a href="">Assassins Creed Odyssey Gold Edition MULTi15-ElAmigos</a>
            <br><br>
            <h6 id="ins">How to Install</h6>
            <h6>1. Extract</h6>
            <h6>2. Burn or mount the .iso</h6>
            <h6>3. Run setup.exe and install</h6>
            <h6>4. Enjoy & Play</h6>
            <p>Full List of Supported Languages:
English, French, Italian, German, Spanish, Arabic, Czech, Dutch, Japanese, Korean, Polish, Portuguese-Brazil, Russian, Simplified Chinese, Traditional Chinese</p>
<p>Release Note:</p>
<p>ElAmigos release, game is already cracked after installation (crack by Empress/C0000005). Updated to version 1.5.3 (12.03.2020); included DLC: The Fate of Atlantis, Legacy of the First Blade + small DLCs except UPlay Rewards.</p>
<p>Installation time with 4 threads CPU and normal HDD – 15 minutes (16 threads + SSD = 7 minutes).</p>
                                <ul class="blog-info-link">
                                    <li><a href="#"><i class="far fa-star"></i> Ratting,4.5</a></li>
                                    <li><a href="#"><i class="far fa-comments"></i> 03 Comments</a></li>
                                </ul>
                            </div>
                        </article>




                        <nav class="blog-pagination justify-content-center d-flex">
                            <ul class="pagination">
                                <li class="page-item">
                                    <a href="#" class="page-link" aria-label="Previous">
                                        <i class="ti-angle-left"></i>
                                    </a>
                                </li>
                                <li class="page-item">
                                    <a href="#" class="page-link">1</a>
                                </li>
                                <li class="page-item active">
                                    <a href="#" class="page-link">2</a>
                                </li>
                                <li class="page-item">
                                    <a href="#" class="page-link" aria-label="Next">
                                        <i class="ti-angle-right"></i>
                                    </a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="blog_right_sidebar">
                        <aside class="single_sidebar_widget search_widget">
                            <form action="#">
                                <div class="form-group">
                                    <div class="input-group mb-3">
                                        <input type="text" class="form-control" placeholder='Search Keyword'
                                            onfocus="this.placeholder = ''"
                                            onblur="this.placeholder = 'Search Keyword'">
                                        <div class="input-group-append">
                                            <button class="btn" type="button"><i class="ti-search"></i></button>
                                        </div>
                                    </div>
                                </div>
                                <button class="button rounded-0 primary-bg text-white w-100 btn_1"
                                    type="submit">Search</button>
                            </form>
                        </aside>

                        <aside class="single_sidebar_widget post_category_widget">
                            <h4 class="widget_title">Category</h4>
                            <ul class="list cat-list">
                                <li>
                                    <a href="#" class="d-flex">
                                        <p>All</p>
                                        <p>(12)</p>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="d-flex">
                                        <p>Action</p>
                                        <p>(01)</p>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="d-flex">
                                        <p>Adventure</p>
                                        <p>(01)</p>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="d-flex">
                                        <p>Arcade</p>
                                        <p>(01)</p>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="d-flex">
                                        <p>Casual</p>
                                        <p>(01)</p>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="d-flex">
                                        <p>Fighting</p>
                                        <p>(01)</p>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="d-flex">
                                        <p>Horror</p>
                                        <p>(01)</p>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="d-flex">
                                        <p>Puzzle</p>
                                        <p>(01)</p>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="d-flex">
                                        <p>Racing</p>
                                        <p>(01)</p>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="d-flex">
                                        <p>RPG</p>
                                        <p>(01)</p>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="d-flex">
                                        <p>Shooter</p>
                                        <p>(01)</p>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="d-flex">
                                        <p>Sports</p>
                                        <p>(01)</p>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="d-flex">
                                        <p>Strategy</p>
                                        <p>(01)</p>
                                    </a>
                                </li>
                            </ul>
                        </aside>

                        <aside class="single_sidebar_widget popular_post_widget">
                            <h3 class="widget_title">Recent Post</h3>
                            <div class="media post_item">
                                <img src="img/post/post_1.png" alt="post">
                                <div class="media-body">
                                    <a href="single-blog.html">
                                        <h3>From life was you fish...</h3>
                                    </a>
                                    <p>January 12, 2019</p>
                                </div>
                            </div>
                            <div class="media post_item">
                                <img src="img/post/post_2.png" alt="post">
                                <div class="media-body">
                                    <a href="single-blog.html">
                                        <h3>The Amazing Hubble</h3>
                                    </a>
                                    <p>02 Hours ago</p>
                                </div>
                            </div>
                            <div class="media post_item">
                                <img src="img/post/post_3.png" alt="post">
                                <div class="media-body">
                                    <a href="single-blog.html">
                                        <h3>Astronomy Or Astrology</h3>
                                    </a>
                                    <p>03 Hours ago</p>
                                </div>
                            </div>
                            <div class="media post_item">
                                <img src="img/post/post_4.png" alt="post">
                                <div class="media-body">
                                    <a href="single-blog.html">
                                        <h3>Asteroids telescope</h3>
                                    </a>
                                    <p>01 Hours ago</p>
                                </div>
                            </div>
                        </aside>
                        <aside class="single_sidebar_widget tag_cloud_widget">
                            <h4 class="widget_title">Tags</h4>
                            <ul class="list">
                                <li>
                                    <a href="#">Home</a>
                                </li>
                                <li>
                                    <a href="#">How To</a>
                                </li>
                                <li>
                                    <a href="#">Download</a>
                                </li>
                                <li>
                                    <a href="#">News</a>
                                </li>
                                <li>
                                    <a href="#">Contact</a>
                                </li>
                                <li>
                                    <a href="#">About Us</a>
                                </li>
                                <li>
                                    <a href="#">Join Now</a>
                                </li>
                            </ul>
                        </aside>


                        <aside class="single_sidebar_widget instagram_feeds">
                            <h4 class="widget_title">Instagram Feeds</h4>
                            <ul class="instagram_row flex-wrap">
                                <li>
                                    <a href="#">
                                        <img class="img-fluid" src="img/post/post_5.png" alt="">
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <img class="img-fluid" src="img/post/post_6.png" alt="">
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <img class="img-fluid" src="img/post/post_7.png" alt="">
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <img class="img-fluid" src="img/post/post_8.png" alt="">
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <img class="img-fluid" src="img/post/post_9.png" alt="">
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <img class="img-fluid" src="img/post/post_10.png" alt="">
                                    </a>
                                </li>
                            </ul>
                        </aside>


                        <aside class="single_sidebar_widget newsletter_widget">
                            <h4 class="widget_title">Newsletter</h4>

                            <form action="#">
                                <div class="form-group">
                                    <input type="email" class="form-control" onfocus="this.placeholder = ''"
                                        onblur="this.placeholder = 'Enter email'" placeholder='Enter email' required>
                                </div>
                                <button class="button rounded-0 primary-bg text-white w-100 btn_1"
                                    type="submit">Subscribe</button>
                            </form>
                        </aside>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--================Blog Area =================-->

{% endblock %}
